{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
    <style>
    body
    {
        font-family: 'Verdana';
    }

    .actions{
        width: 60px;
        text-align: center;
    }

    th{
        text-align: center;
        width: 100px;
    }
    </style>
        <title>Golang CRUD</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Golang CRUD</h1>   
{{ end }}