{{ define "Index" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2> Registered Students </h2>
    <table border="1">
      <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td class="actions">{{ .Id }}</td>
        <td> {{ .FirstName }} </td>
        <td>{{ .LastName }} </td> 
        <td class="actions"><a href="/show?id={{ .Id }}">View</a></td>
        <td class="actions"><a href="/edit?id={{ .Id }}">Edit</a></td>
        <td class="actions"><a href="/delete?id={{ .Id }}">Delete</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}